<div class="col-md-12">
  <div class="form-horizontal">
    <div class="form-group">

      <div class="row">
        <div class="col-sm-4">
          {{input type="text"
                  value=employee.firstName
                  class="form-control"
                  placeholder="First Name"
                  data-test-first-name=true
                  focus-out=(action (mut showFirstnameError) true)
          }}
          {{#if showFirstnameError}}
            <div class="error">
              {{v-get employee 'firstName' 'message'}}
            </div>
          {{/if}}
        </div>
        <div class="col-sm-4">
          {{input type="text"
                  value=employee.lastName
                  class="form-control"
                  placeholder="Last Name"
                  data-test-last-name=true
                  focus-out=(action (mut showLastnameError) true)
          }}
          {{#if showLastnameError}}
            <div class="error">
              {{v-get employee 'lastName' 'message'}}
            </div>
          {{/if}}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          {{input type="text"
                  value=employee.email
                  class="form-control"
                  placeholder="Email"
                  data-test-email=true
                  focus-out=(action (mut showEmailError) true)
          }}
          {{#if showEmailError}}
            <div class="error">
              {{v-get employee 'email' 'message'}}
            </div>
          {{/if}}
        </div>
        <div class="col-sm-4">
          {{input type="text"
                  value=employee.phoneNumber
                  class="form-control"
                  placeholder="Telephone"
                  data-test-phone-number=true
                  focus-out=(action (mut showTelephoneError) true)
          }}
          {{#if showTelephoneError}}
            <div class="error">
              {{v-get employee 'phoneNumber' 'message'}}
            </div>
          {{/if}}
        </div>
      </div>

     <div class="row">
      <div class="col-sm-4">
        {{input type="text"
                value=employee.department
                class="form-control"
                placeholder="Department"
                data-test-department=true
                focus-out=(action (mut showDepartmentError) true)
        }}
        {{#if showDepartmentError}}
            <div class="error">
              {{v-get employee 'department' 'message'}}
            </div>
          {{/if}}
      </div>
    </div>

     <div class="row">
      <div class="col-sm-1">
        <button type="submit"
                class="btn btn-default"
                data-test-button-submit
                {{action 'Save' employee}}
                {{!-- disabled={{unless item.isValid true}} --}}
        >Save</button>
        </div>
        <div class="col-sm-2">
          or
        {{#if employeeRecordNew}}
          {{#link-to 'employees'
            tagName='button'
            class="btn btn-default no-border"
            data-test-cancel-link=true
          }}Cancel{{/link-to}}
        {{else}}
          {{#link-to 'employee' employee.id
            tagName='button'
            class="btn btn-default no-border"
            data-test-cancel-link=true
          }}Cancel{{/link-to}}
        {{/if}}

      </div>
    </div>



    </div>
  </div>
</div>

